
<div [style.background]="'transparent'" class="backgroundMask"></div>
<div class="coverBackground" *ngIf="this.keyboardUp"></div>
<ion-header>
  <ion-toolbar color="navbar-theme">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon color="white" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="white">{{"JOINTEAM.TITLE" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <canvas #canvas></canvas>
  <p *ngIf="!this.keyboardUp && !this.coach" class="instructions">{{"JOINTEAM.0" | translate}}</p>
  <p *ngIf="!this.keyboardUp && this.coach" class="instructions">{{"JOINTEAM.0" | translate}}</p>
  <div [style.height.px]="height" class="camerabox"></div>
  <p *ngIf="!this.keyboardUp" class="or">{{"JOINTEAM.1" | translate}}</p>
  <ion-input [(ngModel)]="url" #urlInput class="link" placeholder="paste invitation link" expand="block" [value]="url"></ion-input>
  <ion-button (click)="joinTeam()" class="joinButton" expand="block">{{"JOINTEAM.2" | translate}}</ion-button>
</ion-content>
