<ion-header>
  <ion-toolbar color="navbar-theme">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="white">{{"PLAYERSETTINGS.TITLE" | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!this.buttonEnabled" (click)="this.save()" class="">
        <ion-icon color="white" name="save-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    {{"PLAYERSETTINGS.HEADER" | translate}}
  </ion-list-header>
  <ion-item button (click)="selectPicture()">
    <ion-label>{{"PLAYERSETTINGS.0" | translate}}</ion-label>
    <img class="profileImage" [src]="imageUrlSafe || image || '../../assets/emptyProfile.png'" alt="">
    <span class="spanChange">{{"PLAYERSETTINGS.1" | translate}}</span>
  </ion-item>
  <ion-item>
    <ion-label>{{"PLAYERSETTINGS.2" | translate}}</ion-label>
    <ion-input type="text" class="infoInput" [(ngModel)]="firstname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{"PLAYERSETTINGS.3" | translate}}</ion-label>
    <ion-input type="text" class="infoInput" [(ngModel)]="lastname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{"PLAYERSETTINGS.4" | translate}}</ion-label>
    <ion-input type="text" class="infoInput" [(ngModel)]="age"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{"PLAYERSETTINGS.5" | translate}}</ion-label>
    <ion-select [(ngModel)]="sex" value="Male">
      <ion-select-option value="Male">{{"PLAYERSETTINGS.6" | translate}}</ion-select-option>
      <ion-select-option value="Female">{{"PLAYERSETTINGS.7" | translate}}</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-item-divider>
    <ion-label>
      {{"PLAYERSETTINGS.HEADER2" | translate}}
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label>{{"PLAYERSETTINGS.8" | translate}}</ion-label>
    <ion-input type="text" class="infoInput" [(ngModel)]="shirtnumber"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{"PLAYERSETTINGS.9" | translate}}</ion-label>
    <ion-input type="text" class="infoInput" [(ngModel)]="position"></ion-input>
  </ion-item>
  <br>
  <ion-item-divider>
    <ion-label>
      {{"PLAYERSETTINGS.HEADER3" | translate}}
    </ion-label>
  </ion-item-divider>
  <ion-item class="" *ngFor="let contact of this.contacts; let i = index">
    <ion-label class="">{{contact.name}}<p>{{contact.data}}</p></ion-label>
    <ion-icon (click)="deleteContact(i);$event.stopPropagation();" class="trash" color="danger" name="trash-outline"></ion-icon>
  </ion-item>
  <ion-item class="" lines="none" *ngIf="this.addingContact">
    <ion-label>{{"PLAYERSETTINGS.10" | translate}}</ion-label>
    <ion-input [(ngModel)]="this.newContact.name" class="right" placeholder="ex: Alicia's phone number"></ion-input>
  </ion-item>
  <ion-item class="" lines="none" *ngIf="this.addingContact">
    <ion-label>{{"PLAYERSETTINGS.11" | translate}}</ion-label>
    <ion-select [(ngModel)]="this.newContact.type" (ionChange)="changedSelection($event)" value="phone" interface="popover">
      <ion-select-option value="phone">{{"PLAYERSETTINGS.12" | translate}}</ion-select-option>
      <ion-select-option value="email">{{"PLAYERSETTINGS.13" | translate}}</ion-select-option>
      <ion-select-option value="text">{{"PLAYERSETTINGS.14" | translate}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none" *ngIf="this.addingContact">
    <ion-label>
      {{"PLAYERSETTINGS.15" | translate}}
    </ion-label>
    <ion-input #phoneInput (input)="mask($event)" class="right" [placeholder]="this.types[this.newContact.type]"></ion-input>
  </ion-item>

  <ion-item lines="none" *ngIf="this.addingContact" class="splitButton" class="">
    <ion-button (click)="closeContact()" class="closeButton">{{"PLAYERSETTINGS.16" | translate}}</ion-button>
    <ion-button (click)="insertContact()" [disabled]="!this.newContact.name || !this.newContact.data" class="addButton">{{"PLAYERSETTINGS.17" | translate}}</ion-button>
  </ion-item>
  <ion-item (click)="addContact()" *ngIf="!this.addingContact"class="" button color="primary">
    {{"PLAYERSETTINGS.18" | translate}}
  </ion-item>
</ion-content>
