<ion-header>
  <ion-toolbar color="navbar-theme">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
          <ion-icon color="white" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="white">{{"PASSWORDRESET.TITLE" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1 class="instructions">{{"PASSWORDRESET.DESCRIPTION" | translate}}</h1>
  <input [(ngModel)]="this.email" type="text" placeholder="{{'PASSWORDRESET.TITLE' | translate}}" class="emailInput">
  <h2 class="error" *ngIf="this.error != ''">{{error}}</h2>
  <ion-button class="sendbutton" expand="block" (click)="finish()">{{"PASSWORDRESET.SEND" | translate}}</ion-button>
</ion-content>
