<ion-header>
  <ion-toolbar color="navbar-theme">
    <ion-buttons slot="start">
      <ion-back-button text="{{'SETTINGS.CHANGEPASSWORD.BACKTITLE' | translate}}" color="light" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="white">{{"SETTINGS.CHANGEPASSWORD.TITLE" | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" class="">
        <ion-icon color="white" name="save-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>
      {{"SETTINGS.CHANGEPASSWORD.0" | translate}}
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-input [(ngModel)]="old"></ion-input>
  </ion-item>

  <ion-item-divider>
    <ion-label>
      {{"SETTINGS.CHANGEPASSWORD.1" | translate}}
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-input [(ngModel)]="new"></ion-input>
  </ion-item>

  <ion-item-divider>
    <ion-label>
      {{"SETTINGS.CHANGEPASSWORD.2" | translate}}
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-input [(ngModel)]="confirm"></ion-input>
  </ion-item>
</ion-content>
