html, body{
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: auto;
}

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.navbar{
    position: fixed;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 500ms;
    background-color: #161B4A;
    z-index: 20;
}

.navbar .leftItems{
    position: relative;
    height: 100%;
    width: fit-content;

}
.navbar .leftItems .brand{
    width: 120px;
    margin: 25px 20px 25px 20px;
    cursor: pointer;
}
.navbar .rightItems{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.profile-button{
    color: white;
    font-size: 7px;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: default;
}
.profile-button .down-arrow{
    margin: 0px 15px 0px 5px;
}
.profile-dropdown{
    position: fixed;
    top: 35px;
    right: 5px;
    overflow: hidden;
    transition: all 0.2s;
    opacity: 0.0;
    max-height: 0px;
    overflow: hidden;
}
.profile-dropdown .dropdown-arrow{
    position: absolute;
    right: 15px;
    top: 9px;
    transform: translateX(-50%);
    z-index: 10;
}
.profile-dropdown .dropdown-content{
    margin: 16.5px 0px 0px 0px;
    background-color: #F8F8F8;
    width: 150px;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
    transition: all 0.2s;
}

.profile-button:hover .profile-dropdown{
    opacity: 1.0;
    max-height: unset;
}
.content{
    padding: 85px 0px 0px 0px;
}
.team-container{
    margin: 5px 5px 0px 5px;
    float: left;
}

.team-name-title{
    vertical-align: top;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
}
.team-dropdown{
    height: 40px;
    background-color: #EBEBEB;
    border-radius: 7px;
    border: none;
    font-weight: 600;
    text-align: right;
    padding: 0px 15px 0px 15px;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
}
.team-dropdown-wrapper{
    position: relative;
    float: right;
    margin: 0px 5px 10px 5px;
    z-index: 1;
}
.player-dropdown{
    height: 40px;
    background-color: #EBEBEB;
    border-radius: 7px;
    border: none;
    font-weight: 600;
    padding: 0px 15px 0px 15px;
    cursor: pointer;
    outline: none;
    transition: all 0.2s;
}
.player-dropdown-wrapper{
    position: relative;
    float: right;
    margin: 0px 5px 10px 5px;
    z-index: 0;
}
.dropdown-icon-switch{
    margin: 0px 5px 0px 2px;
    vertical-align: top;
}

.container-dropdowns{
    float: right;
    clear: both;
    vertical-align: top;
    margin: 5px 30px 10px 5px;
    padding-left: 100px;
}

.team-dropdown-content{
    position: absolute;
    min-height: 10px;
    top: 40px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
    opacity: 0.0;
    background-color: #F8F8F8;
    z-index: 0;
    border-radius: 0px 0px 7px 7px;
    border: 1px solid #D2D2D2;
    transition: all 0.2s;
    visibility: hidden;
}

.player-dropdown-content{
    position: absolute;
    top: 40px;
    right: 0px;
    padding: 0px 0px 0px 0px;
    min-height: 10px;
    box-sizing: border-box;
    width: calc(100% - 140px);
    opacity: 0.0;
    background-color: #F8F8F8;
    z-index: 0;
    border-radius: 0px 0px 7px 7px;
    border: 1px solid #D2D2D2;
    transition: all 0.2s;
    visibility: hidden;
}
.logout-button-item{
    height: 30px;
    border-radius: 5px;
    margin: 7px 7px 7px 7px;
    color: #696969;
    text-align: center;
    font-size: 12px;
    padding: 8px 5px 0px 5px;
    cursor: pointer;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.logout-button-item:hover{
    background-color: #EEEEEE;
    filter: none !important;
}
.logout-button-item:active{
    color: #A6A6A6;
}

.team-dropdown-toggled .team-dropdown{
    border-radius: 7px 7px 0px 0px;
}
.team-dropdown-toggled .team-dropdown-content{
    opacity: 1.0;
    visibility: visible;
}
.player-dropdown-toggled .player-dropdown{
    border-radius: 7px 7px 0px 0px;
}
.player-dropdown-toggled .player-dropdown-content{
    opacity: 1.0;
    visibility: visible;
}
.parameters-player-button{
    color: #129AE7;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 5px 0px 0px;
    user-select: none;
    width: 130px;
    cursor: pointer;
    text-align: right;
    display: inline-block;

}

.segmented-selector{
    margin: 20px 30px 10px 30px;
    display: flex;
    border-radius: 7px;
    overflow: hidden;
}
.segment-option{
    flex: 1;
    background-color: #F1F1F1;
    border-right: 1px solid #CACACA;
    color: black;
    text-align: center;
    font-size: 11px;
    padding: 7.5px 5px 5px 5px;
    cursor: pointer;
    user-select: none;
}
.segmented-selector div:last-child.segment-option{
    border: none;
}
.selected-segment{
    background-color: #171c4a;
    color: white;
}
.selectable-dropdown-item{
    border-radius: 5px;
    margin: 7px 7px 7px 7px;
    color: #212121;
    font-size: 12px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.selectable-dropdown-item:hover{
    background-color: #EEEEEE;
    filter: none !important;
}
.content-container{
    margin: 30px;
    display: flex;
}
.iframe-loader{
    flex: 1;
}
.team-image-icon{
    width: 40px;
    margin: 5px 0px 0px 30px;
    border-radius: 50%;
}

.bar-popup{
    --width: 220px;
    width: var(--width);
    height: 100%;
    margin: 0px 0px 0px 20px;
    transition: all 100ms, top 0ms;
    height: auto;
}
.bar-popup-hidden{
    width: 0px;
    margin: 0px;
    visibility: hidden;
}
.member-popup-panel{
    position: fixed;
    height: auto;
    width: var(--width);
    border: 1px solid #CACACA;
    border-radius: 10px;
    background: #fbfbfb;
}
.profile-image-presentation{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    margin: 20px 10px 7.5px 10px;
}
.profile-user-title{
    font-size: 16px;
    margin: 0px;
}
.profile-user-subtitle{
    font-size: 10px;
    margin: -2.5px 0px 5px 0px;
    color: gray;
}
.presentation-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
.information-container{
    display: flex;
}
.information-container table{
    margin: 10px 5px 20px 5px;
    flex: 1;
}
.information-container table tr td:last-child{
    text-align: right;
}
.information-container table tr td.question{
    font-size: 12px;
    color: gray;
}
.information-container table tr td.answer{
    font-size: 12px;
    color: #129AE7;
    cursor: default;
}
@media only screen and (min-width: 800px) {
    .container-dropdowns{
        height: 50px;
    }
}
@media only screen and (max-width: 550px) {
    .bar-popup{
        width: calc(100% - 2px);
        margin: 0px 0px 10px 0px;
        transition: all 100ms;
    }
    .bar-popup-hidden{
        height: 0px;
    }
    .parameters-player-button{
        position: absolute;
        left: -140px;
        top: 14px;
    }
    .player-dropdown-content{
        width: 100%;
    }
    .content-container{
        flex-direction: column-reverse;
    }
    .member-popup-panel{
        position: static;
        width: 100%;
        padding: 20px 40px 20px 40px;
        display: flex;
        box-sizing: border-box;
    }
    .presentation-responsive-separator{
        position: relative;
        width: 1px;
        background-color: #d0d0d0;
        margin: 20px 20px 20px 30px;
    }
    .information-container{
        flex: 1;
    }
}


.hidden-tile{
    display: none;
}