
<ion-header>
  <ion-toolbar color="navbar-theme">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon color="white" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="white">{{"NEWPLAYER.TITLE" | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="this.firstname == '' || this.lastname == '' || this.submitDisabled" (click)="finish()">
        <ion-icon color="white" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    {{"NEWPLAYER.HEADER" | translate}}
  </ion-list-header>
  <ion-item button (click)="selectPicture()">
    <ion-label>{{"NEWPLAYER.0" | translate}}</ion-label>
    <img class="profileImage" [src]="imageUrlSafe || image || '../../assets/emptyProfile.png'" alt="">
    <span class="spanChange">{{"NEWPLAYER.1" | translate}}</span>
  </ion-item>
  <ion-item>
    <ion-label>{{"NEWPLAYER.2" | translate}}</ion-label>
    <ion-input type="text" class="infoInput" [(ngModel)]="firstname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{"NEWPLAYER.3" | translate}}</ion-label>
    <ion-input type="text" class="infoInput" [(ngModel)]="lastname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{"NEWPLAYER.4" | translate}}</ion-label>
    <ion-input type="text" class="infoInput" [(ngModel)]="age"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{"NEWPLAYER.5" | translate}}</ion-label>
    <ion-select [(ngModel)]="sex" value="Male">
      <ion-select-option value="Male">{{"NEWPLAYER.6" | translate}}</ion-select-option>
      <ion-select-option value="Female">{{"NEWPLAYER.7" | translate}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button class="joinButton" expand="block" [disabled]="this.firstname == '' || this.lastname == '' || this.submitDisabled" (click)="finish()">{{"NEWPLAYER.8" | translate}}</ion-button>
</ion-content>
