div{
    width: 100%;
    display: flex;
    justify-content: center;
}
h1{

    font-size: 12px;
    width: calc(100% - 100px);
    position: relative;
    text-align: center;
    color: #5b5b5b;

    &::before{
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #e0e0e0;
        height: 2px;
        width: calc(50% - 50px);
        left: 25px;
    }
    &::after{
        content: "";
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
        background-color: #e0e0e0;
        height: 2px;
        width: calc(50% - 50px);
    }
}