.clickable:active{
    filter: brightness(0.95);
}
.menu-button{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;

    padding: 7px;
}