.error{
    width: calc(100% - 90px);
    margin: 10px 45px 0px 45px;
    height: auto;
    border: solid 2px #FF6939;
    background-color: #FFEEEE;
    border-radius: 4px;
    outline: none;
    padding: 10px 10px 10px 10px;
    line-height: auto;
    color: #FF6939;
}